body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{background-color: #f1f1f1;}
.container{max-width: 90%;margin:0 auto;}
.navbar{background-color: #fff;}
.navbar .container{display: flex;align-items: center;justify-content: space-between;}
.navbar .menu a{font-size: 14px;text-decoration: none;padding: 0 0 0 15px;color: #000;}
.navbar .menu a:hover{color:#287ea5;}
h1.logo{margin:0;}
h1.logo a{display: flex;}
h1.logo img{animation:spin 1s linear infinite;}
@keyframes spin { 
  10% {transform:translateX(0px);} 
  50% {transform:translateX(5px);} 
  100% {transform:translateX(0px);} 
}
.form-group{margin-bottom: 15px;}
.form-group:last-child{margin-bottom:0;}
.form-control{width: 100%;border: 1px solid #ddd;padding: 10px;border-radius: 2px;box-sizing: border-box;}
.form-control:focus{border: 1px solid #aaa;outline: 0;}
.btn{border:none;padding: 8px 18px;cursor: pointer;font-weight: bold;border-radius: 2px;}
.btn-primary{background-color:#2d7a9e;color:#fff;}
.btn-primary:hover{background-color:#266583;}
.login-page{background-image: url(../src/img/login-bg.jpg);background-repeat: no-repeat;box-shadow: 0 0 10px #00000021;padding: 80px 0;background-size: cover;background-position:top center;height: 100%;height: calc(100vh - 200px);}
.login-page form{background-color: rgba(0, 0, 0, 0.62);max-width: 500px;padding:40px;margin:0 auto;border-radius: 5px;color:#fff;}
.login-page h2{margin: 0 0 20px 0;}
.registerBtn{color: #fff;font-size: 13px;}
.login-page p{color:#fff;text-align: center;}